div {
    border: solid 1px white;
    height: 250px;
    width: 300px;
    background-color: rgb(60, 255, 255);
    
}
.css {
     border: solid 1px  white;
    height: 50px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    margin-left: 30px;
}
.sss {
    border: solid 1px  white;
    height: 70px;
    width: 200px;
    background-color: palevioletred;
    margin: 5px;
    margin-left: 70px;
}
.bbb{
    border: solid 1px  white;
    height: 75px;
    width: 150px;
    background-color: rgb(6, 255, 47);
    margin: 5px;
    margin-left: 20px;
}
.qqq {
    background-color: rgb(183, 106, 255);
}
.qwq {
    border: solid 1px  white;
    height: 140px;
    width: 190px;
    background-color: rgb(6, 255, 47);
    margin: 5px;
    margin-left: 20px;
}
.rrr {
     border: solid 1px  rgb(199, 0, 0);
    height: 50px;
    width: 40px;
    background-color: brown;
    margin: 35px;
    margin-left:15px;
}
.mgm {
     border: solid 1px  rgb(255, 255, 255);
    height: 100px;
    width: 140px;
    background-color: black;
    margin: 20px;
    margin-left:25px;
}
.rtr {
    border: solid 1px  rgb(255, 255, 255);
    height: 50px;
    width: 30px;
    background-color: greenyellow;
    margin: 10px;
    margin-left:10px;
}
.oio {
    border: solid 1px  rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    background-color: purple;
    margin-left:50px;
}
